* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #282c2f;
    color: white;
}

header, main, footer {
    padding: 30px 60px;
}

.select-form {
    display: inline-block;
    margin-right: 20px;
}

.header-link {
    display: inline-block;
    color: #608bd2;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.header-link:visited {
    color: #608bd2;
}

.wrapper {
    background-color: #eaf0f2;
    flex: 1 0 auto;
}

main {
    display: flex;
}

.main {
    margin: auto;
}

main form h2 {
    text-align: center;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.submit-form {
    width: 270px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
}

.reg-form {
    width: 400px;
}

.reg-form .form-message {
    height: 34px;
    font-size: 13px;
    margin: 0 0 5px 0;
    color: red;
}

.form-inputs {
    margin: 15px 0 0 0;
}

.input-group {
    position: relative;
    margin-top: 15px;
}

.reg-form .input-group {
    margin-top: 5px;
}

.input-group label {
    display: block;
    margin: 0;
    color: gray;
}

.input-group input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px gray solid;
    border-radius: 3px;
}

.validation-indicator {
    position: absolute;
    color: lawngreen;
    right: 8px;
    bottom: 8px;
}

.form-message {
    height: 17px;
    font-size: 13px;
    margin: 10px 0;
    color: red;
}

.flex {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 5px 8px;
    background-color: #608bd2;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

select.btn option {
    background: #282c2f;
}

.btn[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
}
.btn-small[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 3px 5px;
    border-radius: 1px;
    font-size: 16px;
    background: #608bd2;
}

.form-link {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: gray;
}

.form-link:visited {
    color: gray;
}

nav {
    padding: 5px;
    width: 200px;
    margin-right: 30px;
}

nav a {
    display: block;
    padding: 3px;
    color: #608bd2;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    text-decoration: underline;
}

nav li {
    list-style-type: none;
}

.active-item {
    color: #282c2f;
}

.data-table {
    background: white;
    border-collapse: collapse;
    border: 1px solid #eee;
    table-layout: fixed;
}
.data-table th {
    font-weight: bold;
    padding: 5px;
    background: #608bd2;
    border: 1px solid #dddddd;
    color: white;
}
.data-table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.data-table tbody tr:nth-child(odd){
    background: #fff;
}
.data-table tbody tr:nth-child(even){
    background: #F7F7F7;
}

.button-cell {
    padding: 0 !important;
}

footer {
    flex: 0 0 auto;
}

.footer-link {
    display: inline-block;
    color: #608bd2;
    font-size: 16px;
    text-decoration: none;
}